#menu-bar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.3);
  backdrop-filter: blur(5px) brightness(80%);
  z-index: 9999;
  user-select: none;
  opacity: 0;
}

#menu-bar .upper {
  position: absolute;
  right: 0px;
  margin: 20px;
  z-index: 999;
}

.menu-bar-in {
  right: 0;
  width: 85vw;
  position: fixed;
  height: 100vh;
  background: white;
  display: grid;
  place-content: center;
  padding: 20px;
  overflow: hidden;
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
}

.menu-bar-in .ul {
  text-align: center;
  gap: 10px;
  display: grid;
}

.menu-bar-in .menu-contact {
  display: flex;
  gap: 1.5em;
  position: absolute;
  bottom: 30px;
  place-content: center;
  width: 100%;
}

.menu-bar-in .menu-contact a svg {
  width: 22px;
  height: 22px;
  color: var(--dark-main);
}

.menu-bar-in .ul a {
  color: var(--dark-main);
  width: 100%;
  place-content: center;
  padding: 5px;
  border: none;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
}

.menu-bar-in .ul a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--dark-main);
}

.menu-cancel {
  display: grid;
  color: var(--dark-main);
  font-weight: bolder;
  font-size: 20px;
  place-content: center;
  user-select: none;
  text-align: center;
  cursor: pointer;
}

.menu-cancel svg {
  width: 25px;
  height: 25px;
}
